{
  admin off
  auto_https off
}

:80 {
  encode gzip

  handle /api/* {
    reverse_proxy {$BACKEND_HOST:backend:8000}
  }

  handle / {
    reverse_proxy {$FRONTEND_HOST:frontend:3000}
  }

  log {
    output stdout
    format json
  }
}
